  <!-- Nav Bar start-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid"
      <a class="navbar-brand" href="#">Omni Hitech<br> Solution</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SERVICES</a>
          </li>
            <a class="nav-link disabled" >ABOUT</a>
          </li>
        </li>
        <a class="nav-link disabled">CONTACT US</a>
      </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-success" type="submit">ADD RESUME</button>
        </form>
      </div>
    </div>
</nav>